<header class="header">
    <div class="container">
      
    </div>
  </header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
    <div class="container">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" data-aos="zoom-out" data-aos-duration="1000">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <ul class="navbar-nav brand" data-aos="zoom-in" data-aos-duration="1000">
          <img src="assets/imgs/logo.png" alt="" class="brand-img">
          <li class="brand-txt">
            <h5 class="brand-title">{{nombre}}</h5>
            <div class="brand-subtitle">{{ocupacion}}</div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" data-aos="zoom-out" data-aos-duration="1000">
          <li class="nav-item last-item">
            <a href="#" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>