<div class="container-fluid">
    <div class="row about-section">
        <div class="col-lg-9 about-card" data-aos="fade-up-right" id="home">
            <div class="col-lg-20 about-card" data-aos="fade-up-right" id="home">
                <h3 class="font-weight-light">Quienes Somos</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">{{ocupacion}}</h5>
                <p class="mt-20" style="font-size: larger;">Día a día, el equipo de Audi México labora con pasión y perfección en múltiples tareas
                    que dan pie a la creación de la nueva generación del Audi Q5.
                    La nueva planta en San José Chiapa, Puebla, es un miembro valioso en la red de producción de Audi ya
                    que cuenta con los últimos avances en cuanto a eficiencia de recursos y procesos de fabricación.
                    A continuación, podrás dar un vistazo de las distintas naves que albergan la calidad y la cultura de
                    Audi. En esta planta operamos de forma eficiente para enviar el nuevo Audi Q5 al resto del mundo.
                </p>
            </div>

        </div>
        <div class="col-lg-4 about-card" data-aos="zoom-in">


        </div>

    </div>
</div>