<div class="section" id="noticias">
    <div class="container">
        <h2 class="mb-5" data-aos="fade-down" data-aos-duration="1200"><span class="text-danger">Modelos en
                tendencia</span>
        </h2>
        <div class="card-columns">
            <div class="card hover-shadow">
                <img src="./assets/imgs/img5.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger" style="text-align: center;">A3 Sedan</h5>
                    <p class="card-text">
                        El nuevo Audi A3 Sedán incorpora diversas tecnologías y sistemas de asistencia al conductor que
                        apoyan, entre otras cosas, la acción evasiva, la aceleración y el frenado del vehículo,
                        aumentando notablemente la comodidad de conducción en viajes largos y en el tráfico urbano.</p>
                    <p class="card-text">
                        La tecnología del sistema de navegación y de infotainment parece no tener
                        límites: completamente orientado al conductor, cuenta con controles intuitivos que mantienen
                        todos los servicios conectados y con acceso inmediato. </p>
                </div>
            </div>

            <div class="card hover-shadow">
                <img src="./assets/imgs/img4.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger" style="text-align: center;">Audi Q2</h5>
                    <p class="card-text">El nuevo Audi Q2 cuenta con una amplia variedad de sistemas opcionales de
                        asistencia al conductor que te ofrecen máxima seguridad en todos tus trayectos, tales como: el
                        aviso de cambio de carril involuntario, Audi parking system plus y cámara de reversa.
                    </p>
                    <p class="card-text">
                        Los aspectos más destacados como: la dirección progresiva y la transmisión automática de 8
                        velocidades, garantizan comodidad y una enorme diversión al volante. El nuevo Audi Q2 es el SUV
                        perfecto para ciudad, carretera y escapadas de fin de semana.
                    </p>
                </div>
            </div>

            <div class="card hover-shadow">
                <img src="./assets/imgs/img2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger" style="text-align: center;">A1 Sportback</h5>
                    <p class="card-text">El Audi A1 Sportback está disponible en 3 versiones: Cool, Ego y S line.
                        Descubre la versión que combine con tu estilo y personalidad. También cuenta con los servicios
                        opcionales de Audi Connect: Navegación, Google Maps, tráfico de línea durante 3 años, y MMI
                        Navegación plus.
                    </p>
                    <p class="card-text">
                        Cada una de las versiones cuenta con motores específicos; la versión Cool con el motor 1.0 TSFI
                        con 116 hp, para la versión Ego el motor 1.5 TSFI con 150 hp y para la versión S line, el motor
                        2.0 TSFI con 200 hp, elige el que se adapte a tus necesidades.

                    </p>
                </div>
            </div>

        </div>

    </div>
</div>